
<div class="content-slider">
  <div class="slider">
    <div class="mask">
      <ul>
        <li class="anim1">
          <div class="quote">Hello, this is a quote from a person.</div>
        </li>
        <li class="anim2">
          <div class="quote">Hello, this is a quote from another person.</div>
        </li>
        <li class="anim3">
          <div class="quote">Hello, this is a quote from an animal.</div>
        </li>
        <li class="anim4">
          <div class="quote">Hello, this is a quote from a plant.</div>
        </li>
        <li class="anim5">
          <div class="quote">How do ya like that.</div>
        </li>
      </ul>
    </div>
  </div>
</div>