body{
    background: url('src/assets/resources/background.png')  no-repeat center fixed ;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
